@charset "utf-8";
/* CSS Document */

/*=================================	
		font-family 
==================================*/
@font-face {
    font-family: 'exolight';
    src        : url('../fonts/exo-light.woff2') format('woff2'),
        url('../fonts/exo-light.woff') format('woff');
    font-weight: normal;
    font-style : normal;
}

@font-face {
    font-family: 'exomedium';
    src        : url('../fonts/exo-medium.woff2') format('woff2'),
        url('../fonts/exo-medium.woff') format('woff');
    font-weight: normal;
    font-style : normal;
}

@font-face {
    font-family: 'exoregular';
    src        : url('../fonts/exo-regular.woff2') format('woff2'),
        url('../fonts/exo-regular.woff') format('woff');
    font-weight: normal;
    font-style : normal;
}

@font-face {
    font-family: 'exodemibold';
    src        : url('../fonts/exo-semibold.woff2') format('woff2'),
        url('../fonts/exo-semibold.woff') format('woff');
    font-weight: normal;
    font-style : normal;
}