/*------------------------------------*\
    	servicesWrap style
\*------------------------------------*/
.servicesWrap {
  margin-bottom: 180px; }

.serviceItem {
  margin-bottom: 100px; }

.serviceItem:focus,
.serviceItem:active {
  outline: none; }

.serviceImg {
  margin-bottom: 35px;
  display: inline-block;
  position: relative; }

.serviceImg img {
  max-width: 71px;
  width: 100%; }

.serviceTitle {
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 25px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

.serviceDetails {
  max-width: 310px;
  width: 100%;
  margin-bottom: 35px;
  opacity: 0.6;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

.serviceItem:hover .serviceTitle {
  color: #f72e42; }

.serviceItem:hover .serviceDetails {
  opacity: 1; }
